.gallery {
    background-image: url("../../images/image-gallery.png");
    width: 100%;
    height: 100%;
    top: 75px;
    left: 0;
    position: fixed;
    background-size: 100% 100%!important;
    cursor: pointer;
    background-color: rgb(240, 220, 130)!important;
  }

  .gallery-heading-left {
    text-orientation: upright;
    color: rgb(109,110,112);
    font-family: 'chalkdustregular';
    font-size: 16px;
    position: absolute;
    writing-mode: vertical-rl;
    top: 14%;
    left: 13%;
  }

  .gallery-heading-right {
    text-orientation: upright;
    color: rgb(109,110,112);
    font-family: 'chalkdustregular';
    font-size: 16px;
    position: absolute;
    writing-mode: vertical-rl;
    top: 14%;
    right: 11%;
  }

  