.gallery-background {
    width: 100%;
    height: 100%;
    top: 75px;
    left: 0;
    position: fixed;
    background-size: 100% 100%!important;
    /* background-color: rgb(163,20,20); */
    background-color:rgb(163,20,20)!important;

  }

  .image-1 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%!important;
  }

  .image-2 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%!important;
  }

  .image-3 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%!important;
  }

  .frame-1 {
    position: absolute;
    width: 35%;
    padding-bottom: 18%;
    background: black;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
    left: 57%;
    top: 6%;
    cursor: pointer;
  }

  .mat-1 {
    position: absolute;
    background: white;
    top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
  }

  .art-1 {
    position: absolute;
    top: 16.129%; bottom: 16.129%; left: 13.158%; right: 13.158%;
  }

  .frame-2 {
    position: absolute;
    width: 35%;
    padding-bottom: 18%;
    background: black;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
    left: 48%;
    top: 48%;
    cursor: pointer;
  }

  .mat-2 {
    position: absolute;
    background: white;
    top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
  }

  .art-2 {
    position: absolute;
    top: 16.129%; bottom: 16.129%; left: 13.158%; right: 13.158%;
  }

  .frame-3 {
    position: absolute;
    width: 25%;
    padding-bottom: 31%;
    background: black;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
    left: 15%;
    top: 6%;
    cursor: pointer;
  }

  .mat-3 {
    position: absolute;
    background: white;
    top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
  }

  .art-3 {
    position: absolute;
    top: 16.129%; bottom: 16.129%; left: 13.158%; right: 13.158%;
  }
/* 
  .frame-2 {
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    background: black;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
    right: 25%;
    top: 25%;
  }

  .mat-2 {
    position: absolute;
    background: white;
    top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
  }

  .art-2 {
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
  } */

  .art-1:after, .art-2:after, .art-3:after  {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
  }

  .title-heading-pic {
    font-family: 'chalkdustregular';
    margin: 0 auto;
    font-size: 60px;
}

.enlarge {
  font-family: 'chalkdustregular';
  position: fixed;
  bottom: 2%;
  left: 2%;
  font-size: 30px;
}

.modal-image {
  background-size: 100% 100%!important;
  margin: 0 auto;

}

.frame-modal-wide {
  position: absolute;
  width: 68%;
  padding-bottom: 44%;
  background: #000;
  box-shadow: 0 10px 7px -5px rgba(0,0,0,.3);
  left: 16%;
  top: 4%;
}

.frame-modal-long {
  position: absolute;
  width: 36%;
  padding-bottom: 44%;
  background: #000;
  box-shadow: 0 10px 7px -5px rgba(0,0,0,.3);
  left: 31.5%;
  top: 4%;
}

.mat-modal {
  position: absolute;
  background: white;
  top: 3.0303%; bottom: 3.0303%; left: 2.5%; right: 2.5%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) inset;
}

.art-modal {
  position: absolute;
  top: 8.129%;
  bottom: 8.129%;
  left: 5.158%;
  right: 5.158%;
}

.image-modal {
  width: 100%;
  height: 100%;
  background-size: 100% 100%!important;
}

.close-modal {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 2%;
  top: 2%;
  text-align:center;
  cursor: pointer;
  background-size: 100% 100%!important;
  background-image: url("../../images/exit-icon.png");
}

.pic-caption {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  bottom: 2.5%;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,.5);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.pic-title {
  margin: 0;
}

.pic-author {
  margin: 0;
}

.pic-year {
  margin: 0;
}
  