.title-heading {
    font-family: 'chalkdustregular';
    margin: 0 auto;
    font-size: 60px;
}


.text-heading {
    text-align: center;
    font-weight: bold;
}

.lesson-intro {
    text-align: left;
    margin-bottom: 0;
}

.lesson-text {
    text-align: left;
    margin: 0 auto;
}

.questions {
    text-align: left;
    padding: 0;
}

.prayer {
    text-align: left;
}

.questions {
    text-align: left;
}

.intro-welcome {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.2;
    border: 1px solid black;
    margin-top: 10px;
    font-size: 14pt;
}

.outer-div {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(240, 220, 130)!important;
    height: 1600px;
}

.columns {
    column-count: 2;
    width: 88%;
    line-height: 1.2;
    grid-column-gap: 13%;
    -webkit-column-gap: 13%;
    column-gap: 11%;
    -webkit-column-fill: balance;
    column-fill: balance;
    font-size: 16pt;
    padding-top: 20%;
    padding-left: 13%;
    
}

.scroll {
    background-image: url("../../images/scroll.png");
    width: 100%;
    height: auto;
    margin: -65px auto 0;
    background-size: 100% 100%!important;
    position: relative;
    padding-bottom: 20%;
}


.cover-image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .question-list {
      margin-bottom: 15px;
  }
