.map-container {
    width: 100%;
    height: 100%;
    top: 75px;
    left: 0;
    position: fixed;
    background-size: 100% 100%!important;
    cursor: pointer;
    background-color:rgb(135,206,250)!important;
    background-image: url("../../images/map-background.png");
}

.map-image{
    margin: 0 auto;
    width: 40%;
    height: 78%;
    background-size: 100% 100%!important;
}

.map-header {
    font-family: 'chalkdustregular';
    margin: 0 auto;
    font-size: 60px;
}

.no-map {
    font-family: 'chalkdustregular';
    font-size: 60px;
    margin-top: 13%;
}